[submodule "api-interfaces"]
	path = api-interfaces
	url = https://github.com/hafriedlander/api-interfaces.git
[submodule "nonfree/ToMe"]
	path = nonfree/ToMe
	url = https://github.com/facebookresearch/ToMe.git
