[submodule "api-interfaces"]
	path = api-interfaces
	url = https://github.com/hafriedlander/api-interfaces.git
[submodule "nonfree/ToMe"]
	path = nonfree/ToMe
	url = https://github.com/facebookresearch/ToMe.git
[submodule "gyre/src/k-diffusion"]
	path = gyre/src/k-diffusion
	url = https://github.com/crowsonkb/k-diffusion.git
[submodule "gyre/src/ResizeRight"]
	path = gyre/src/ResizeRight
	url = https://github.com/assafshocher/ResizeRight.git
	ignore = dirty
[submodule "gyre/src/lora"]
	path = gyre/src/lora
	url = https://github.com/cloneofsimo/lora.git
[submodule "gyre/src/midas"]
	path = gyre/src/midas
	url = https://github.com/hafriedlander/MiDaS.git
	